*{
    margin: 0;
    padding: 0;
}
#description{
    border-radius: 10px !important;
    border: none;
}
#user{
    width: 45px;
}
.side:hover{
    background-color: rgb(235, 94, 118);
    color: white !important;
    cursor: pointer;
    border-radius: 9px;
}
#home{
    width:20px;
}
.offcanvas a {
    text-decoration: none !important;
    color: black;
}
#editBtn:hover{
    color: white !important;
}
#spinner{
    display: none;
}