*{
    margin: 0;
    padding: 0;
}
#description{
    border-radius: 10px !important;
    border: none;
}
#user{
    width: 45px;
}
.side:hover{
    background-color: rgb(235, 94, 118);
    color: white !important;
    cursor: pointer;
    border-radius: 9px;
}
#home{
    width:20px;
}
.offcanvas a {
    text-decoration: none !important;
    color: black;
}
#editBtn:hover{
    color: white !important;
}
#spinner{
    display: none;
}
.line{
    font-size: 15px;
}
.line a{
    text-decoration: none;
    color: rgb(192, 45, 70);
}
.userImg:hover{
    filter:opacity(0.5);
}
#user-name{
    border-radius: 10px;
    border: none;
    width: 80%;
}
.backBtn{
    width: 60px !important;
}